In [2]:
#pandas
import pandas as pd
data = [10, 20, 30, 40, 50]
data

[10, 20, 30, 40, 50]

In [3]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)   #series used for represneting one d array
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
#monthly sales data
# Months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
'October', 'November', 'December']
# Monthly sales data for a product (example data)
sales_data = [12000, 13500, 14200, 12800, 14000, 15500, 16200, 15800, 16500,
17800, 18500, 17200]
# Create a Pandas Series with months as the index
sales_series = pd.Series(sales_data, index=months, name='Monthly Sales (USD)',dtype=int)
# Display the Series
print(sales_series)

January      12000
February     13500
March        14200
April        12800
May          14000
June         15500
July         16200
August       15800
September    16500
October      17800
November     18500
December     17200
Name: Monthly Sales (USD), dtype: int32

In [10]:
#create dataframe

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [11]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28]}
df = pd.DataFrame(data)
print("Before Adding Column")
print(df)
# Add a new column "City" with values
df['City'] = ['New York', 'Los Angeles', 'Chicago', 'Houston']
print("After Adding Column")
print(df)

Before Adding Column
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28
After Adding Column
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [12]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df)
new_columns = {
'Gender': ['Female', 'Male', 'Male', 'Male'],
'Grade': ['A', 'B', 'C', 'B']
}
df['Gender'] = new_columns['Gender']
df['Grade'] = new_columns['Grade']
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
      Name  Age         City  Gender Grade
0    Alice   25     New York  Female     A
1      Bob   30  Los Angeles    Male     B
2  Charlie   35      Chicago    Male     C
3    David   28      Houston    Male     B

In [13]:
#Adding a column at a specific index:

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df)
new_columns = {
'Gender': ['Female', 'Male', 'Male', 'Male'],
'Grade': ['A', 'B', 'C', 'B']
}
df['Gender'] = new_columns['Gender']
df['Grade'] = new_columns['Grade']
print(df)
df.insert(1,'marks',[88,90,89,99])
print(df)

Initial DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
      Name  Age         City  Gender Grade
0    Alice   25     New York  Female     A
1      Bob   30  Los Angeles    Male     B
2  Charlie   35      Chicago    Male     C
3    David   28      Houston    Male     B
      Name  marks  Age         City  Gender Grade
0    Alice     88   25     New York  Female     A
1      Bob     90   30  Los Angeles    Male     B
2  Charlie     89   35      Chicago    Male     C
3    David     99   28      Houston    Male     B

In [15]:
#adding a new row
data = {'Name': ['A', 'B', 'C', 'D'],
        'Age': [20, 30, 40, 50],
        'City': ['ghaziabad', 'up', 'delhi', 'meerut']}
df = pd.DataFrame(data)
print("Initial DataFrame")
print(df)
new_row = pd.DataFrame([{'Name': 'E', 'Age': 25, 'City': 'noida'}])
print(new_row)
print("after adding a new row")
df = pd.concat([df, new_row], ignore_index=True)  
print(df)

Initial DataFrame
  Name  Age         City
0    A   20      NewYork
1    B   30  Los Angeles
2    C   40      Chicago
3    D   50      Houston
  Name  Age           City
0    E   25  San Francisco
after adding a new row
  Name  Age           City
0    A   20        NewYork
1    B   30    Los Angeles
2    C   40        Chicago
3    D   50        Houston
4    E   25  San Francisco

In [19]:
#adding multiple rows
data = {'Name': ['A', 'B', 'C', 'D'],
        'Age': [20, 30, 40, 50],
        'City': ['ghaziabad', 'up', 'delhi', 'meerut']}
df = pd.DataFrame(data)
print("Initial DataFrame")
print(df)
new_row = pd.DataFrame([{'Name': 'E', 'Age': 25, 'City': 'noida'}])
insert_index = 2 
df.loc[insert_index]=new_row

print(df)

Initial DataFrame
  Name  Age       City
0    A   20  ghaziabad
1    B   30         up
2    C   40      delhi
3    D   50     meerut

ValueError: Incompatible indexer with Series

In [20]:
#update column name
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],
              "Color":['Red','Green','Yellow','Pink','Green'],
              "Price": [45, 90, 60, 37, 49]}
data = pd.DataFrame(fruit_data)
print("Before Updating Column")
print(data)
data=data.rename(columns = {'Fruit':'Fruit Name'})
print("After Updating Column")
print(data)

Before Updating Column
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Column
   Fruit Name   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49

In [21]:
#update multiple column
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],
              "Color":['Red','Green','Yellow','Pink','Green'],
              "Price": [45, 90, 60, 37, 49]}
data = pd.DataFrame(fruit_data)
print("Before Updating Column")
print(data)
data=data.rename(columns = {'Fruit':'Fruit Name','Colour':'Color','Price':'Cost'})
print("After Updating Column")
print(data)

Before Updating Column
        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     60
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Column
   Fruit Name   Color  Cost
0       Apple     Red    45
1     Avacado   Green    90
2      Banana  Yellow    60
3  Strawberry    Pink    37
4       Grape   Green    49

In [26]:
#Updating Row Values
print("Display 4th row Value")
print(data.loc[3]) # fetch the data of row at index 3
data.loc[3]=['pineapple','yellow',48]
print("after updating value")
print(data)
print(data.loc[3, ['Fruit Name']])

Display 4th row Value
Fruit Name    pineapple
Color            yellow
Cost                 48
Name: 3, dtype: object
after updating value
  Fruit Name   Color  Cost
0      Apple     Red    45
1    Avacado   Green    90
2     Banana  Yellow    60
3  pineapple  yellow    48
4      Grape   Green    49
Fruit Name    pineapple
Name: 3, dtype: object

In [27]:
fruit_data = {"Fruit": ['Apple','Avacado','Banana','Strawberry','Grape'],
              "Color": ['Red','Green','Yellow','Pink','Green'],
               "Price": [45, 90, 65, 37, 49]}
data = pd.DataFrame(fruit_data)
print(data)
data.loc[data['Price'] >60, 'Remarks'] = 'Expensive'
data.loc[data['Price'] <60, 'Remarks'] = 'Not Expensive'
print("After Updating Values")
print(data)

        Fruit   Color  Price
0       Apple     Red     45
1     Avacado   Green     90
2      Banana  Yellow     65
3  Strawberry    Pink     37
4       Grape   Green     49
After Updating Values
        Fruit   Color  Price        Remarks
0       Apple     Red     45  Not Expensive
1     Avacado   Green     90      Expensive
2      Banana  Yellow     65      Expensive
3  Strawberry    Pink     37  Not Expensive
4       Grape   Green     49  Not Expensive