In [1]:
months={"january","feburary","march","april","may","jun"}
print(months)
months.add("august")
months.update(["july","august","september","october"]);
print(months)

{'jun', 'march', 'january', 'may', 'april', 'feburary'}
{'august', 'jun', 'march', 'january', 'feburary', 'september', 'july', 'may', 'april', 'october'}

In [5]:
months={"january","feburary","march","april","may","jun"}
months.discard("january");
print(months)

{'jun', 'march', 'may', 'april', 'feburary'}

In [7]:
months={"january","feburary","march","april","may","jun"}
delete =months.pop()
print(delete)

jun

In [9]:
x={"apple","banana","mango"}
y={"microsoft","google","apple"}
z=x.union(y)
print(z)

{'microsoft', 'google', 'banana', 'apple', 'mango'}

In [13]:
name="rahul"
print(name)
name+"tiwari"
print(name)

rahul
rahul

In [15]:
name="rahul"
print(id(name))
name=name+"tiwari"
print(id(name))

2012239344240
2012236976624

In [19]:
name="rahul"
print(id(name))
name=name+"tiwari"
print(id(name))
name[7]='x'
print(name)

2012239344240
2012251448432

TypeError: 'str' object does not support item assignment

In [21]:
name="rahul tiwari"
print(name)
print(name[1])
print(name[2])

rahul tiwari
a
h

In [23]:
name="rahul tiwari"
print(name)
print(name[1:10:2])

rahul tiwari
au ia

In [27]:
name="rahul tiwari"
print(name)
print("name[::]",name[::])

rahul tiwari
name[::] rahul tiwari

In [29]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
print(x is y )

True
False

In [31]:
str="rahul tiwari"
print(str)
str=str.capitalize()
print(str)

rahul tiwari
Rahul tiwari

In [33]:
str="rahul tiwari"
print(id(str))
str=str.capitalize()
print(id(str))

2012251573616
2012251570736

In [35]:
str="rahul"
print(str)
str.center(15)
print(str)

rahul
rahul

In [43]:
str="rahul"
print(str)
str=str.center(15,)
print(str)

rahul
     rahul

In [47]:
str="rahul"
print(str)
str=str.center(15,"*")
print(str)

rahul
*****rahul*****

In [49]:
#python center() method allign string to the center by filling paddings left and right of the string .
#this methods takes two parameters,first is a width and second is ta fillchar which is optional .the fiichar is a character which is used to fil
#left and right padding of the string

In [51]:
#python string count()method:
#it return the number of occurence of substring in the specified range .
#it takes three parameters,first is a substring,second a start index and third is a last index .
#start and end both are optional whereas substring is required.

In [53]:
str="second a start index and third"
oc=str.count('a',8,15)
print(oc)

1

In [57]:
str="second a start index and third"
isends=str.endswith("and")
print(isends)

False

In [59]:
str=" welcome to python class "
str2=str.find("too",9,13)
print(str2)

-1

In [63]:
str=" welcome to python class "
str2=str.index("th",19,21)

ValueError: substring not found

In [67]:
str="second a start index and third"
isends=str.endswith("and")
print(isends)

False

In [69]:
str="14254" #true
str3="welcome123" # false
str2=str.isalnum()
str4=str3.isalnum()
print(str2)
print(str4)

True
True

In [71]:
str="welcome to the python class"
output = str.isalnum()
print(output)

False

In [75]:
#python string lower()method
str="PYTHON"
str=str.lower()
print(str)

python

In [77]:
#python string upper()method
str="python"
str=str.upper()
print(str)

PYTHON

In [83]:
str=".....python....."
str2=str.lstrip('.')
str3=str.rstrip('.')
str4=str.strip('.')

print(str)
print(str2)
print(str3)
print(str4)

.....python.....
python.....
.....python
python

In [85]:
#python string swapcase method
str="java is a programming language"
str2=str.swapcase()
print(str2)

JAVA IS A PROGRAMMING LANGUAGE

In [87]:
#replace method
str="java is a programming language"
str2=str.replace("java","c")
print(str2)

c is a programming language