In [14]:
from tabulate import tabulate

students = [
    {"stid": "std101", "stdname": "Ashish Kumar", "standard": "10th", "Age": 15, "Hindi": 67, "English": 89, "Maths": 87, "Science": 89, "Computer": 90, "Total": 422},
    {"stid": "std102", "stdname": "Abhishek Kumar", "standard": "10th", "Age": 15, "Hindi": 48, "English": 90, "Maths": 78, "Science": 78, "Computer": 45, "Total": 313},
    {"stid": "std103", "stdname": "Aman", "standard": "10th", "Age": 15, "Hindi": 56, "English": 56, "Maths": 78, "Science": 78, "Computer": 45, "Total": 313},
    {"stid": "std104", "stdname": "Rahul", "standard": "10th", "Age": 14, "Hindi": 34, "English": 67, "Maths": 56, "Science": 45, "Computer": 98, "Total": 302},
    {"stid": "std105", "stdname": "Ruby", "standard": "10th", "Age": 13, "Hindi": 89, "English": 56, "Maths": 45, "Science": 89, "Computer": 56, "Total": 258},
    {"stid": "std106", "stdname": "Suman", "standard": "10th", "Age": 15, "Hindi": 90, "English": 56, "Maths": 67, "Science": 67, "Computer": 123, "Total": 403},
    {"stid": "std107", "stdname": "Saurabh", "standard": "10th", "Age": 15, "Hindi": 45, "English": 23, "Maths": 34, "Science": 78, "Computer": 67, "Total": 247},
    {"stid": "std108", "stdname": "Sumit", "standard": "10th", "Age": 15, "Hindi": 56, "English": 45, "Maths": 67, "Science": 78, "Computer": 78, "Total": 324},
    {"stid": "std109", "stdname": "Kamlesh", "standard": "10th", "Age": 15, "Hindi": 45, "English": 67, "Maths": 78, "Science": 78, "Computer": 45, "Total": 303},
    {"stid": "std110", "stdname": "Rohan", "standard": "10th", "Age": 15, "Hindi": 12, "English": 24, "Maths": 45, "Science": 56, "Computer": 34, "Total": 171},
]

# Prepare data for tabulate
table_data = []
for student in students:
    table_data.append([
        student["stid"], student["stdname"], student["standard"], student["Age"],
        student["Hindi"], student["English"], student["Maths"], student["Science"],
        student["Computer"], student["Total"]
    ])

# Display in tabular format
headers = ["Student ID", "Student Name", "Standard", "Age", "Hindi", "English", "Maths", "Science", "Computer", "Total"]
print(tabulate(table_data, headers=headers, tablefmt="grid"))

+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| Student ID   | Student Name   | Standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+==============+================+============+=======+=========+===========+=========+===========+============+=========+
| std101       | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102       | Abhishek Kumar | 10th       |    15 |      48 |        90 |      78 |        78 |         45 |     313 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103       | Aman           | 10th       |    15 |      56 |        56 |      78 |        78 |         45 |     313 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104       | Rahul          | 10th       |    14 |      34 |        67 |      56 |        45 |         98 |     302 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105       | Ruby           | 10th       |    13 |      89 |        56 |      45 |        89 |         56 |     258 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106       | Suman          | 10th       |    15 |      90 |        56 |      67 |        67 |        123 |     403 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107       | Saurabh        | 10th       |    15 |      45 |        23 |      34 |        78 |         67 |     247 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108       | Sumit          | 10th       |    15 |      56 |        45 |      67 |        78 |         78 |     324 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109       | Kamlesh        | 10th       |    15 |      45 |        67 |      78 |        78 |         45 |     303 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110       | Rohan          | 10th       |    15 |      12 |        24 |      45 |        56 |         34 |     171 |
+--------------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+

In [18]:
students_above_50_english = [student["stdname"] for student in students if student["English"] > 50]

# Print the names
for name in students_above_50_english:
    print(name)

Ashish Kumar
Abhishek Kumar
Aman
Rahul
Ruby
Suman
Kamlesh

In [23]:
students_sorted_by_maths = sorted(students, key=lambda x: x["Maths"], reverse=True)

# Display name and age of top four scorers in Maths
top_four_scorers = students_sorted_by_maths[:4]  # Extract top four students

for student in top_four_scorers:
    print("Name:" ,student['stdname'], "Age:", student['Age'])

Name: Ashish Kumar Age: 15
Name: Abhishek Kumar Age: 15
Name: Aman Age: 15
Name: Kamlesh Age: 15